apiVersion: v1
kind: Service
metadata:
  name: hello-gke-service
spec:
  # This makes the service publicly accessible via a GCP Load Balancer
  type: LoadBalancer 
  selector:
    app: hello-gke # This must match the 'app' label in the Deployment
  ports:
    - protocol: TCP
      port: 80 # The port the public Load Balancer listens on
      targetPort: 8080 # The port the container is running on
